@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

.login-card {
    padding: 40px;
    width: 274px;
    background-color: #F7F7F7;
    margin: 100px auto 100px;
    border-radius: 2px;
    box-shadow:  5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
   
}
/*.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}*/

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login {
  text-align: center;
  font-size: 14px;
/*  font-family: 'Arial', sans-serif;
*/  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

/*.login-submit {*/
  /* border: 1px solid #3079ed; */
  /*border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;*/
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
/*}

.login-submit:hover {*/
  /* border: 1px solid #2f5bb7; */
  /*border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;*/
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
/*}*/

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
